Flask==2.2.3
openai>=0.27.0
SpeechRecognition==3.8.1
pydub==0.25.1
librosa==0.10.0.post2
gunicorn==20.1.0
transformers==4.12.2
flask_cors==3.0.10
Flask-SSLify==0.1.5
numpy==1.24.3
tokenizers==0.13.3
spacy==3.5.2
